In [1]:
import pandas as pd

What happens if we try to access the url directly?

In [2]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/17Mr201gfDoOTe5ONLS6LYJi1wQbtT26srXeSwUjMK0A/htmlview?usp=sharing&sle=true")

CParserError: Error tokenizing data. C error: Expected 7 fields in line 93, saw 503

We can't use the link directly. What we need to do is extract the unique ID of the sheet and get its export link.

We do this by taking the url up to the ID (which is after the **/d/**) and replacing the rest of it with **/export** and adding some parameters.

In [3]:
csv_url = "{}/export?gid=0&format=csv"\
    .format("https://docs.google.com/spreadsheets/d/17Mr201gfDoOTe5ONLS6LYJi1wQbtT26srXeSwUjMK0A")

We can see that we've added **gid=0** which is the sheet number (0-indexed) and **format=csv** to ensure we get a csv

In [4]:
df = pd.read_csv(csv_url)

That didn't error, so let's the data to make sure it worked

In [5]:
df.head()

,What is your primary role? Select any that apply.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,"For design/development, at what level?",Job Title,Gross Annual Compensation,Unnamed: 11,"Any additional company info? (stock options, equity, funding series, etc.)",Location,Unnamed: 14,Unnamed: 15,Comments? (optional)
0,Developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Senior,Senior iOS Engineer,"165,000",USD,NaN,United States,NY,New York,NaN
1,Developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mid,Interactive Developer,"85,000",USD,NaN,USA,NC,Raleigh,Marketing Agency
2,Developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lead,java architect,"18,000",ARS,NaN,Argentina,NaN,NaN,NaN
3,Developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Senior,Interface Developer,"35,000",GBP,NaN,england,london,london,NaN
4,Developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Junior,engineer,"80,000",USD,NaN,US,CA,NaN,NaN